$primal-lightest: #FFF4AA;
$primal-ligher: #D4C76A;
$primal-normal: #AA9B39;
$primal-darker: #807215;
$primal-darkest: #554A00;

$second-lightest: #6D92A0;
$second-ligher: #457485;
$second-normal: #27586B;
$second-darker: #1A3E50;
$second-darkest: #022735;

$third-lightest: #D991AF;
$third-ligher: #B55B81;
$third-normal: #913059;
$third-darker: #6D1238;
$third-darkest: #48001E;
